<h3 class="text-center">Employee Details</h3>
<ng-form name="employee">
  <div class="form-group">
    <label for="firstname">Firstname</label>
    <input type="text" class="form-control input-sm" id="firstname" name="firstname" placeholder="firstname"
      ng-model="$ctrl.employee.firstname">
  </div>


  <div class="form-group">
    <label for="lastname">Lastname</label>
    <input type="text" class="form-control input-sm" id="lastname" name="lastname" placeholder="lastname"
      ng-model="$ctrl.employee.lastname">
  </div>

  <div class="form-group">
    <label for="dateOfBirth">dateOfBirth</label>
    <input type="text" class="form-control input-sm" id="dateOfBirth" name="dateOfBirth" placeholder="dateOfBirth"
      ng-model="$ctrl.employee.dateOfBirth">
  </div>
  <entity-actions entity-id="$ctrl.employee.Id" on-create="$ctrl.onCreate(event)" on-update="$ctrl.onUpdate(event)"
    on-cancel="$ctrl.onCancel(event)">
  </entity-actions>
</ng-form>



<button type="button"
id="modalb"
        class="btn btn-default"
        ng-click="$ctrl.openModal()">ADD RELATION</button>



    <pf-emd-list></pf-emd-list>
